.application {
  background-color: #1d2631;
  color: #ffffff;
  padding-top: 28px; }

.application__download {
  display: block;
  width: 281px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 16px 30px;
  box-sizing: border-box;
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  border: solid 3px #ffffff;
  border-radius: 30px; }
  .application__download:hover {
    background-color: #ffffff;
    color: #d22856; }
  .application__download:active {
    color: rgba(210, 40, 86, 0.3); }

.application__os {
  width: 240px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0 auto;
  margin-bottom: 29px; }

.application__os-description {
  width: 240px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 35px; }

@media (min-width: 660px) {
  .application {
    background-color: transparent;
    margin-top: -300px;
    width: 320px;
    margin-right: auto; }
  .application__download {
    width: 300px; }
  .application__os-description {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    width: 300px; } }
