.contacts__promo {
    font-size: 24px;
    color: #283645;
    text-align: center;

    margin-bottom: 44px;
}

.contacts__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contacts__title {
    margin: 0;
    padding: 0;

    font-size: 18px;
    font-weight: 700;
    color: #283645;
    text-align: center;

    margin-bottom: 9px;
}

.contacts__list-item a {
    display: block;
    text-decoration: none;
    text-align: center;

    color: #d22856;
    font-size: 24px;
    font-weight: 300;

    margin-bottom: 27px;
}

.contacts__street {
    margin: 0 auto;
    width: 258px;

    color: #d22856;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}
