.main-nav {
    background-image: url(../img/back-desktop.jpg);
    background-position: center center;
    background-repeat: no-repeat;

    padding-bottom: 400px;
}

@media (min-width: 660px) {
    .main-nav {
        padding-bottom: 500px;
    }
}

