.scroll__element {
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d22856;
    position: fixed;
    top: 90%;
    left: 90%;
}

.scroll__element--on {
    display: block;
}

.scroll__element::before {
    content: "";
    position: absolute;
    background-image: url(../img/icon.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll__element:hover {
    animation: arrowup 1s infinite ease-in;
}

@keyframes arrowup {
    0%{transform:translate(0);}
    50%{transform:translate(0, -10px);}
    100%{transform:translate(0);}
}
