@import '../variables.scss';

.site-list {
    margin: 0;
    padding: 0;
    list-style: none;

    font-size: 18px;
    line-height: 32px;
    font-weight: 700;

    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: $bg-color;
}

.site-list__item {
    padding: 15px 0;
    margin-bottom: 1px;

    box-shadow: 0px 1px 0 0 #000000, 
                inset 0px 1px 0 0 rgba(255, 255, 255, 0.15);
}

.site-list__item-title {
    display: flex;
    padding: 15px 20px;
}

.site-list__item-menu {
    display: block;

    text-decoration: none;
    color: #ffffff;
}
